#{$app}-{
    &about{
        padding-top: 8%;
        // padding-bottom: 5%;
        @media(max-width: 800px){
            padding-top: 10%;
        }
        &__{
            &heading{
                font-size: 85px;
                color: #313131;
                @media(max-width: 800px){
                    font-size: 50px;
                }
            }
        }
    }
}