#{$app}-{
    &faq{
        padding-top: 8%;
        @media(max-width: 768px){
            padding-top: 12% !important;
        }
        &__{
            &heading{
                // font-size: 85px;
                text-align: center;
                margin-bottom: 5%;
                @media(max-width: 768px){
                    width: 100% !important;
                    // font-size: 50px;
                }
                @media(min-width: 769px) and (max-width: 1200px){
                    width: 100% !important;
                    font-size: 85px;
                }
            }
            &acc-inner-wrapper{
                width: 100% !important;
                // padding: 3% 8%;
                text-align: center;
            }
            &accordian-wrapper{
                width: 60%;
                margin: auto;
                @media(max-width:768px)
                {
                    width: 100%;
                    margin: auto;
                }
            }
        }
    }
}
