#{$app}-{
    &hero{
        background: linear-gradient(to bottom, $theme-color 60%, white 40%);
        color: $font-color;
        @media(max-width: 768px){
            background: linear-gradient(to bottom, $theme-color 70%, white 30%);
        }
        &__{
            &main-heading{
                padding-top: 5%;
                width: 42% !important;
                font-size: 85px;
                text-align: center;
                @media(max-width: 768px){
                    width: 100% !important;
                    font-size: 50px;
                }
                @media(min-width: 769px) and (max-width: 1024px){
                    width: 100% !important;
                    font-size: 85px;
                }
                @media(min-width: 1025px) and (max-width: 1400px){
                    width: 60% !important;
                    font-size: 85px;
                }
            }
            &content{
                width: 52% !important;
                padding-top: 3%;
                font-size: 18px;
                text-align: center;
                font-weight: $regular;
                @media(max-width: 768px){
                    width: 100% !important;
                    font-size: 15px;
                }
                @media(min-width: 769px) and (max-width: 1024px){
                    width: 70% !important;
                    font-size: 18px;
                }
                @media(min-width: 1025px) and (max-width: 1400px){
                    width: 70% !important;
                    font-size: 18px;
                }
            }
            &img-wrapper{
                width: 80% !important;
                @media(max-width: 800px){
                    padding-top: 5%;
                }
            }
            &main-img{
                width: 100% !important;
            }
            &download-wrapper{
                @media(max-width: 500px){
                    width: 60% !important;
                    img {
                        width: 50% !important;
                    }
                }
            }
            &download-img{
                display: inline !important;
            }
        }
    }
}