#{$app}-{
    &about-card{
        width: 90% !important;
        padding-top: 5%;
        margin: auto;
        @media(max-width: 768px)
        {
            padding-top: 12%;
        }
        &__{
            &img{
                width: 100% !important;
                position: relative;
                z-index: 100 !important;
            }
            &heading{
                padding-bottom: 4%;
                font-size: 46px;
                font-weight: $semi-bold;
                color: #000F37;
                @media(max-width: 768px)
                {
                    font-size: 25px !important;
                }
                @media(min-width: 769px) and (max-width: 1200px)
                {
                    font-size: 25px !important;
                }
            }
            &content{
                padding-bottom: 4%;
                font-size: 20px;
                color: #575757;
                font-weight: $regular;
                @media(max-width: 768px)
                {
                    font-size: 16px !important;
                }
                @media(min-width: 769px) and (max-width: 1200px)
                {
                    font-size: 16px !important;
                }
            }
            &left{
                position: relative;
                width: 28%;
                padding-left: 4%;
                padding-right: 4%;
                margin: auto;
                @media(max-width: 768px)
                {
                    position: relative;
                    width: 80%;
                    padding-left: 7%;
                    padding-right: 7%;
                    margin: auto;
                }
            }
            &btn{
                padding: 12px 24px;
                background-color: #FAFAFA;
                border: none;
                font-size: 18px;
                color: #000F37;
                border: 1px solid #000F37;
                &:hover{
                    background-color: #000F37;
                    color: #FAFAFA;
                }
            }
            &right{
                @media(max-width: 768px)
                {
                    padding-top: 10% !important;
                }
            }
            &odd-card{
                @media(min-width: 768px)
                {
                    flex-direction: row-reverse !important;
                    
                }
            }
            &element::before{
                content: '';
                position: absolute;
                bottom: 0;
                height: 40%;
                bottom: 10%;
                background-color: $theme-color;
                right: 0%;
                left: 0%;
                margin: auto;
                border-radius: 12px;
            }
        }
    }
}

.moveImg {
    animation-name : mymove;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 2s;
  }
  
  @keyframes mymove {
    from {transform: translateY(0px);}
    to {transform: translateY(20px);}
  }



