#{$app}-{
    &header{
        background-color: $theme-color;
        &__{
            &container{
                width: 90%;
                margin: auto;
                @media(max-width: 1024px)
                {
                    width: 100%;
                }
            }
            &wrapper{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 80px;
                padding: 0 2rem;
                background-color: $theme-color;
                color: #FAFAFA;
                
            }
            &nav-{
                &links-wrapper{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    position: static;
                    padding: 0;
                    height: auto;
                    width: auto;
                    background-color: $theme-color;
                    @media(max-width: 1024px)
                    {
                        position: fixed;
                        top: 0;
                        left: 0;
                        height: 100vh;
                        z-index: 999 !important;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 1.5rem;
                        background-color: $theme-color;
                        transition: 1s;
                        transform: translateX(-100vw);
                    }
                }
                &link{
                    margin: 0 1.5rem;
                    text-decoration: none;
                    &:hover{
                        color: black;
                    }
                    @media(max-width: 1024px)
                    {
                        font-size: 18px;
                    }
                }
                &btn{
                    padding: 5px;
                    cursor: pointer;
                    background: transparent;
                    border: none;
                    outline: none;
                    color: #FAFAFA;
                    visibility: hidden;
                    opacity: 0;
                    font-size: 1.8rem;
                    @media(max-width: 1024px)
                    {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                &close-btn{
                    position: absolute;
                    top: 2rem;
                    right: 2rem;
                }
                &login{
                    margin-right: 1.5rem;
                    @media(max-width: 1024px)
                    {
                        display: none;
                    }
                }
                &signup{
                    color: #011037;
                    font-size: 18px;
                    font-weight: $medium;
                    padding: 12px 24px;
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
            &responsive-nav{
                @media(max-width: 1024px)
                {
                    transform: none;
                }
            }
        }
    }
}

